# Python files #
################
dist/
__pycache__/
*.egg-info
.coverage

# Python virtualenvs #
######################
venv/

# Jupiter notebooks #
#####################
.ipynb_checkpoints/
*.ipynb

# Pytest #
#########
.pytest_cache/
